body {
    background-color: rgb(184, 184, 184);
}

nav {
    text-align: center;
}

.mainButton {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.resumeButton {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.projectButton {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.contactButton {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

div2{
    position: absolute;
    left: 15%;
    top: 5%;
}

fieldset{
    margin: auto;
    height: 5%;
    background: transparent;
    text-align: center;
    border-color: transparent;
}

legend {
    font-size:xx-large;
    margin-bottom: 25px;
}

.fieldsetContain {
    position: absolute;
    top: 50%;
    left: 25%;
    margin: auto;
    width: 60%;
    height: 50%;
}

fieldset input {
    background: transparent;
}

.submitbutton {
    position: absolute;
    left: 50%;
    top: 25%;
}