body {
    background-color: rgb(184, 184, 184);
}

nav {
    text-align: center;
}

.buttonh {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.buttonr {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.buttonp {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.buttonc {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 2%;

    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

div2{
    position: absolute;
    left: 15%;
    top: 5%;
}

fieldset{
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 80%;
    background: #ffffff;
    text-align: center;
    margin: auto;
}