body {
    background-color: rgb(184, 184, 184);
}

nav {
    text-align: center;
}

.buttonh {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 4%;
}

.buttonr {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 4%;
}

.buttonp {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 4%;
}

.buttonc {
    position: absolute;
    text-align: center;
    top: 80%;
    left: 4%;
}