
h1{
    text-align: center;
    margin: 372px, 581px, 562px, 581px;
}
h2 {
    text-align: center;
}

div2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
}

.mainbutton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;

    /* background-color: transparent; */
    border-radius: 5px;
    border: 1px white;

    /* background-color: none; */
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

    /* border-radius: 3px; */
}

body {
    background-image: url(https://wallpaperaccess.com/full/233166.jpg);
    background-size: cover;
    
}