body {
    font-family: "Open Sans", sans-serif;
    /* background-image: url("file:///Users/evaliu/Documents/Projects/Portfolio/seattle-skyline-at-night-view-4k-se.jpeg"); */
    background-image: url("file:///Users/evaliu/Documents/Projects/Portfolio/seattleSkyline.jpg");
    background-size: cover;

}

h1{
    text-align: center;
    margin: 372px, 581px, 562px, 581px;
}
h2 {
    text-align: center;
}

div2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
}

.mainbutton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;

    /* background-color: transparent; */
    border-radius: 1px;
    border: 1px white;
    border-style: solid;
    padding: 10px 10px;


    /* background-color: none; */
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

    /* border-radius: 3px; */
}