nav1 {
    text-align: left;
    top: 30%;
    left: 4%;
}

nav2 {
    text-align: left;
    top: 60%;
    left: 4%;
}

div2 {
    position: absolute;
    left: 15%;
    top: 5%;
}

div3 {
    position: absolute;
    left: 55%;
    top: 5%;
}

div4 {
    position: absolute;
    left: 15%;
    top: 50%
}