
div1 {
    position: absolute;
    top: 50%;
    left: 1%;
}

nav {
    text-align: left;
}

div2 {
    position: absolute;
    left: 5%;
    top: 15%;
}

div3 {
    position: absolute;
    left: 50%;
    top: 15%;
}

div4 {
    position: absolute;
    left: 5%;
    top: 65%
}